<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>SpeganetWebService</display-name>
     <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class> com.speganet.Servlet.UserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userActions</url-pattern>
    
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class> com.speganet.util.ServletTest</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/testActions</url-pattern>
    
    </servlet-mapping>
  
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>